<h1>Country</h1>

<h1><%= @country.name %></h1><br>
<h2><%=  "The national language is #{@country.language}." %></h2>
<%= link_to "Edit", edit_country_path %>
<%= link_to "Delete", country_path, method: "DELETE" %>
